:root {
    --second-color: #0d6efd; 
    --Parent-color: #ebedee;
    --granson-color:#e2b100; 
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    box-shadow: 0 0px 5px rgba(0, 0, 0,.5);
 
    
}
.A {
    margin-left: 20px;
    display: flex;
       font-size: 20px;
       font-weight: bolder;
}
.bi {
    color: var(--second-color);
    background-color: transparent;
    border-radius: 50%;
    border: solid 3px var(--main-color);
    padding: 5px;
    transition: .5s;
}

.bi:hover {
    cursor: pointer;
    background-color: var(--second-color);
    color: white;
} 
.OptionContinar {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.language {
    background-color: var(--second-color);
    color: white;
    height: 40px;
    border-radius: 10px;
    padding: 0  5px;
    border: none;
    outline: none ;
}
.language:hover {
    cursor: pointer;
    background-color: #e2b100;


}
.btn.btn-primary {
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn.btn-primary:hover  {
     background-color: #e2b100;


}
