.nav {
    border-bottom: solid  2px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
.UserButton {
    color: black;
}
.A {
    margin-left: 20px;
    display: flex;
}
