 :root {
      --second-color: #243671;
      --Parent-color: #F1F1F2;
      --grandson-color: #F9CD17;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
      background: var(--Parent-color);
      margin: 20px;
    }

    .title, .a {
      font-family: 'Poppins', sans-serif;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      margin-top: 50px;
      color: #243671;
    }

    .bold, .bold2 {
      font-weight: 700;
      color: #F9CD17;
  }

.card-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

/* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 600px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#243671,#243671 ,#ecf0f0);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;

}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;

}

.name {
  font-size: 25px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
  color: #F9CD17;
  
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 90s infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 90s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration:80s;
}

.wave:nth-child(2) {
  animation-duration: 80s;
}

.playing .wave:nth-child(3) {
  animation-duration: 80s;
}

.wave:nth-child(3) {
  animation-duration: 60s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




