:root {
   /* --second-color: #243671; 
    --Parent-color:  #F1F1F2;
    --grandson-color:#F9CD17; 
    */

    --second-color: #F4F2EC;
      --Parent-color: #0E3746;
      --grandson-color:  #EAE8DC;
}